In [1]:
#Print nmber from 1 to 5 uing a while loop.
n = 5
i = 1
while i <= n:
    print(i, end =" ")
    i += 1

1 2 3 4 5

In [2]:
#Calculate the sum of number from 1 to 10 using a while loop.
n =  10
i = 1
a = 0
while i <= n:
     a += i
     i += 1
else:
    print(a)

55

In [19]:
#Calculate the factorial of a number using a for loop.
a = 1
for i in range(1,6):
     a *= i
print("the factoraial of 5 is" ,a)

the factoraial of 5 is 120

In [3]:
#Print a pattern using nested loop.
row = 1
while row <= 4:
    col = 4
    while col >= row:
        print("*", end = "")
        col -= 1
    print()
    row +=1

****
***
**
*

In [16]:
#Count the number of vowel in a string using a for loop.
my_string = "anjani"
vowel = "aeiou"
count = 0
for i in my_string:
    if i in vowel:
        count +=1
print(count)

3

In [1]:
#for i in range(1,6):
    for j in range(1,6):
        print(f"{i} x {j} = {i*j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25